<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429624724501-sfg88sboohfkeqvr18rm5h482a3fjabr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429624724501-sfg88sboohfkeqvr18rm5h482a3fjabr</string>
	<key>API_KEY</key>
	<string>AIzaSyAp1FKo1uXmpBWBSMZSsH-CXVw8tZ55L3I</string>
	<key>GCM_SENDER_ID</key>
	<string>429624724501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.sabrain.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-28cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-28cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429624724501:ios:b0a1b5c11a6f0a8f8d521c</string>
</dict>
</plist>